*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri;
} 

.container{
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/banner1.jpg");
    width: 100%;
    height: 100vh;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: rgb(4, 4, 4);
}
.header  .logo{
    margin-left: 80px;
}
.header .logo h2{
    font-size: 40px;
    color: whitesmoke;
    line-height: 80px;
}
.header .logo h2:hover{
    color: brown;
}
.header nav{
    margin-right: 80px;
}
.header nav ul li{
    display: inline-block;
    line-height: 80px;
    
}
.header nav ul li a{
    color: white;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    margin-right: 30px;
    
    
}

.header nav ul li a:hover{
    color: brown;
    border-bottom: 1px solid brown;
   
}

.text h2{
    padding-top: 200px;
    padding-bottom: 0;
    font-size: 55px;
    color: #fff;
    text-align: center;
    
}
.main-btn{
    display: flex;
    justify-content: center;
}
.button{
    width: 500px;
    margin-top: 20px;
}

.button .serch-btn{
    width: 90%;
    max-width: 500px;
    border: 1px solid black;
    border-radius: 8px;
    margin: auto;
    padding: 15px;
    font-size: 17px;
    font-weight: 900;
}
.common-btn {
    
        width: 100px;
        margin-top: 24px;
        position: relative;
        margin-left: -153px;
    
}
.btn{
    width: 100px;
    padding: 12px;
    border-radius: 8px;
    background-color: aquamarine;
    color: brown;
    font-size: 15px;
    font-weight: 900;
}

.hader2 h2{
    color: white;
    margin-top: 51px;
text-align: center
}

.post{
    display: flex;
    font-size: 15px;
    padding: 40px;  
    color: white;
    text-align: center;
    justify-content: space-around;
}

.india{
    height: 300px;
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: transparent;
    font-weight: 800;

}

.Aus{
    height: 300px;
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: transparent;
    font-weight: 800;
}

.Dubai{
    height: 300px;
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: transparent;
    font-weight: 800;
}

.india img{
    width: 260px;
    height: 260px;
    border: groove;
}

.Aus img{
    width: 260px;
    height: 260px;
    border: groove;
}

.Dubai img{
    width: 260px;
    height: 260px;
    border: groove;
}